/* COLORS:
        rgb(76, 120, 158)
        rgb(90, 112, 132)
        #3374ad
        #337ab7
        #4c789e
        #76a1c7 
*/


* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline:none;
}

/* HIDE PAGE UNTIL USER CHOICE */
.hidden {
  display: none;
} 

/* OPENING PAGE */
#openingQuestion {
  height: 100vh;
  background-color: rgb(76, 120, 158);  
  text-align: center;
  padding-top: 10%;
  color: white;
}

.openingPageRow {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

#question {
  font-size: calc(12px + 3.5vw);
  text-shadow: 2px 2px 2px rgb(0, 0, 0 , 0.9);
}

.openingChoice {
  color: #000;
  padding: 10px;
  border-radius: 15px;
  font-size: calc(12px + 1.4vw);
  margin: 15px 45px;
  box-shadow: 2px 2px rgb(0, 0, 0, 0.6);
}

/* MEDIA QUERIES */

@media screen and (min-width: 1693px) {
  #eighthnote{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 8%;  
  }

  #elementTags {
    margin-bottom: 8%;
  }

  .dropdown {
    margin-left: 15px;
    background-color: white;
    border-radius: 6%;
    display:inline-block;
    text-align: center;
  }
  
  #nav a {
    font-family: 'Lobster Two', serif;
    font-size: calc(12px + 0.8vw);
    color: #337ab7;
    text-decoration: none;
    align-items: center;
    height: 100%;
  }
  
  .links {
    padding: 0.2vh 0.5vw;
  }
}

@media (min-width: 767px) and (max-width: 1455px) {
    #musicTop {
        padding-bottom: 30px;
    }
}

@media screen and (max-width:1150px) {
  #nav a span {
    font-size: calc(12px + 1.6vw);
  }
}

@media screen and (max-width:1000px) {
  .myFace {
    /* height:50%; */
    width:30%;
  }

  .webshots {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .screenshots {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formRow h4 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .navLists {
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 0px;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
  }

  .dropdown {
    margin: 5px 15px 5px 0px;
    /* border: 1px solid red; */
  }

  #brBlock {
    margin: 25px 0px 25px 0px;
    padding-top: 0px;
  }

  #accordionRowTriggers {    
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .triggerDivs {
    margin: 15px auto;
    /* border: 1px solid red;  */
  }

}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
	width: 10px;
	height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(76, 120, 158); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000; 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #202020;
}

#scrollUp {
  z-index:99;
  border-radius:50%;
  background-color:rgba(255, 255, 255, 0.8);
  color:rgb(90, 112, 132);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  /* display:; */
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#scrollUp i {
  margin:0;
  position:relative;
  left:35%;
  top:13px;
  font-size:19px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#scrollUp:hover {
  background:rgba(90, 112, 132, 0.8);
  color:white;
  border:.5px solid white;
}

#scrollUp:hover i {
  top:4px;
}

/* ===================================  NAVBAR =============================== */

.fixed-top {
  height: 65px;
  opacity: .952;
  align-items: center;
  vertical-align: middle;
}

#nav {
  width: 85%;
  height: 100%;
  align-items: center;
  vertical-align: middle;
}

.navbar-collapse {
  display: flex;
  justify-content: right;
}

/* AFFECT STYLING OF BURGER MENU ICON */
#codeBurger {
  background-image: url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(76, 120, 158)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} 

#musicBurger {
  background-image: url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(76, 120, 158)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#musicBurger:hover, #musicBurger:focus {
  background-image: url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
  );  
}

#codeBurger:hover, #codeBurger:focus {
  background-image: url(
        "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
  );  
}

.dropdown {
  margin-left: 15px;
  background-color: white;
  border-radius: 6%;
  font-size: 1.8em;
  /* margin-top:2%; */
  display:inline-block;
  text-align: center;
}

#nav a {
  font-family: 'Lobster Two', serif;
  font-size: calc(12px + 1.3vw);
  color: #337ab7;
  text-decoration: none;
  align-items: center;
  height: 100%;
}

.links {
  padding: 0.5vh 0.8vw;
}

.test {
  vertical-align: middle;
  align-items: center;
}

#eighthNoteBtn {
  height: 100%;
  padding: 0;
  vertical-align: middle;
}

#eighthnote{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

#eighthnote:hover {
  box-shadow: 0px 0px 3px 2px rgb(256, 256, 256, 0.9);
}

#htmlTags {
  height: 100%;
  padding: 0;
}

#elementTags {
  height: 100%;
  /* max-width: 60px; 
  margin-top: -16%;*/
  border-radius: 5px;
}

#elementTags:hover {
  box-shadow: 0px 0px 3px 2px rgb(256, 256, 256, 0.9);
}

#codeMenu {
  border: 0.5px solid white;
  /* margin-top:12.5px; */
  margin-right: 0;
}

#musicMenu {
  border: 0.5px solid white;
  /* margin-top:12.5px; */
  margin-right:0;
}

/* =========================================== PAGE CONTENTS ===================================== */


.topRows {
  padding-top: 80px;
}

.aboutRow {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.musicPage .topRows {
  padding-bottom: 0px;
}

.codePage .topRows {
    padding-bottom: 60px;
}

.faceDiv {
  align-items: center;
  padding-top: 50px;
}

.myFace {
  width: 85%;
}

span {
  color: #337ab7;
}

.block1 {
  margin: 0 25%;
  background-color: #4c789e;
  color: white;
  font-family: 'Josefin Slab';
  display: block;
  /* justify-content: center; */
  text-align: center;
}

/* #musicPageTwo {
  display: block;
} */

#codePageTwo .aboutMe {
  margin-top: 50px;
}

#myCodeFace {
  border-radius: 50%;
  margin: 1% auto 10% auto;
}

#myMusicFace {
  border-radius: 50%;
  width: 70%;
  margin: 18% auto 10% auto;
}

.about {
  font-size: 2.3em;
  margin-top: 2.3%;
}

#musicAboutMe {
  padding-top: 30px;
}

.accordionRow {
  display: flex;
  justify-content: center;
}

#accordionRowTriggers {    
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.accordionCards {
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  font-size: calc(10px + 1.1vw);
  font-weight: 600;
  padding-top: 10px; 
  box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.6);
}

.stageAccordions {
  text-align: center;
}

.accordionTriggers {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: calc(10px + 1.1vw);
  border-radius: 5px;
  padding: 2px 10px;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.6);
  margin: 0px 5px;
  
}

.accordionTriggers:hover {
  background-color: black;
  color: white;
}

/* #instrumentCard {
  display: block;
} */

.flatIcons {
  width: 4%;
  height: 4%;
  margin: 0px 5px 18px 5px;
  /* border: 1px solid red; */
}

.instrumentText {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
}

.venueLink {
  border-radius: 5px;
}

.venueLink:hover {
  background-color: white;
  color: black;
}

/* #stageCard {
  display: block;
} */

#stageCardLocations {
  display: block;
}

.venueLink {
  font-size: calc(10px + 0.6vw);
  margin: 10px auto;
  background-color: #000;
  color: white;
  padding: 5px;
}

.venueList {
  font-size: calc(10px + 0.5vw);
}

.fatBottomRow {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

/* .fatBottomGirls {
  margin-bottom: 2%;
} */


/* ===================================== SECTION 2 ======================================== */

.block2 {
  /* height: 100%;
  margin: 0 25% 35px 25%; */
  background-color: white;
  color: #4c789e;
}

/* .codeBody {
  margin-top: 50px;
} */

/* #codePageThree {
  padding-top: 60px;
}

#musicPageThree {
  padding-top: 60px;
} */

#portRow {
  text-align: center;
  display: flex;
  justify-content: center;
}

#portBox {
  /* border: 1px solid black; */
  box-shadow: 0px 8px 10px rgb(0, 0, 0, 0.6);
  border-radius: 15px;
  background-color: #4c789e;
  color: white;
  margin-bottom: 60px;
}

.port {
  font-weight: bold;
  font-family: 'Josefin Slab';
  opacity: 0.9;
}

.titles {
  background-color: rgb(76, 120, 158);
  box-shadow: 2px 2px 5px rgb(256, 256, 256, 0.6);
  border-radius: 5px;
  color: white;
  display: inline-block;
  padding: 5px 8px;
}

.webshots {
    /* border: 3px solid white;
    border-radius: 5px; */
    background-color: black;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

.screenshots {
  font-family: 'Josefin Sans';
  text-align: center;
  padding: 15px 0;
}

.devShots {
/*    border: 2px dotted white;*/
    display: inline-block;
}

img[alt="screenshot of webpage"] {
    border: 2px solid white;
    border-radius: 15px;
    /* min-height: 100%; */
    max-height: 45vh;
    width: 100%;
}

.tubeBoxes {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.youtubes {
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.soundClouds {
  border-radius: 15px;
  border: 2px solid white;
}

.contacts {
  text-align: center;
  padding-top: 50px;
}

/* =========================== SECTION 3 ==================================== */

/* Gallery Music Page */
#musicPageFour {
  background-color: rgb(76, 120, 158);
}

#gallRowTop {
  /* margin-top: 50px; */
  /* margin-bottom: -10px; */
  text-align: center;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}

.gallRow {
  margin: 30px auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}

.gallDivs {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  /* border: 2px solid red; */
}

#gallDescription {
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 8px 10px rgb(0, 0, 0 , 0.6);
  margin-bottom: 25px;
  padding-top: 15px;
}

#gallRow1 .gallDivs {
  border-bottom: 2px dashed white;
}

#row2mid  {
  border-right: 2px dashed white;
  border-left: 2px dashed white;
}

#gallRow3 .gallDivs {
  border-bottom: 2px dashed white;
}

#row4mid {
  border-right: 2px dashed white;
  border-left: 2px dashed white;
}

.gallTitles {
  font-size: calc(10px + 1vw);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.gallShots {
  /* height: 100%; */
  border: 3px solid white;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.8);
}

.gallLandscape {
  width: 100%;
}

.gallPortrait {
  width: 65%;
}

/* ========================SECTION 4================================ */

/* #codePageFour {
  margin-top: 150px;
} */

.formRow {
  padding-top: 25px;
}

.formRow h4 {
  padding: 0 35px;
}

.block4 {
  height:100%;
  background-color:#76a1c7;
  /* margin:0 25%; */
  box-shadow: 0px 2px 2px black;
}

.title {
  font-size:2.8em;
  opacity:.95;
  margin-bottom:-3px;
}

.textbox {
  border-radius:7px;
  border: transparent;
  height:70px;
  width:90%;
  margin:5px auto;
  background-color:#76a1c7;
  color: white;
  font-size:26px;
  text-align: center;
}

.inputs {
  list-style: none;
  font-size: 26px;
}

::placeholder {
  font-size:26px;
  color: rgb(255, 255, 255, 0.8);
  border-style:none none groove none;
}

.messagebox {
  border-radius: 7px;
  border: transparent;
  margin: 25px auto;
  background-color: #76a1c7;
  font-size: 26px;
  height: 150px;
}

.send {
  color:#337ab7;
  background-color: black;
  padding: 3px 25px;
  min-width:55px;
  min-height:28px;
  border: 3px solid white;
  border-radius:5px;
  margin-bottom:2em;
  font-family: 'Lobster Two', sans-serif;
  font-size: 1em;
}

.send:hover {
  background-color: white;
  border: 3px solid black;
}

/* =================================== SECTION 5 ================================== */

.block5 {
  /* height: 100%; */
  background-color:#3374ad;
  box-shadow:0px 0px 5px black;
  font-family:"Josefin Sans", sans-serif;
  margin-top: 25px;
  padding: 25px 0px;
}

/* .block5-text {
  margin: 3% 25%;
} */

#blBlock h4 {
  color: white;
}

#brBlock {
  padding-top: 25px;
}

#brBlock h4{
  color: white;
  margin-bottom: 25px;
}

.me {
  border-color: black;
  color: white;
  font-size: calc(12px + 1.4vw);
  border-radius: 5px;
  padding: 5px;
  font-family: 'Lobster Two';
  margin: 0.9em 0.5em 0 0.5em;
  text-decoration: none;
}

.me:hover, .me:focus {
  text-decoration: none;
  color: black;
  /* color: #337ab7; */
}

.myName {
  color: white;
  font-size: 1.2em;
  font-family: serif;
  border: transparent;
  background-color: transparent;
}

/*Footer*/

.footRow {
  display: flex;
  justify-content: center;
}

.foot {
  width: 100%;
  /* height: 5em; */
  background-color: black;
  /* box-shadow:0px 10px 15px black; */
}

#copyright {
  /* font-size: 1.6em; */
  text-align: center;
  margin: 0.8em auto;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
